* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  color: #9b1f23;
  font-family: "Carter One", cursive;
  font-size: 80px;
  text-align: center;
}

.About-design span {
  color: rgb(230, 154, 154);
  font-size: 26px;
}

body {
  background: white;
  color: white;
}

nav {
  width: 100%;
  padding: 1rem 5%;
  /* margin: 20px 0px 0px 20px; */
  background: rgb(255, 239, 239);
  border-bottom: 1px solid
    rgb(rgb(248, 240, 240), rgb(235, 241, 235), rgb(234, 234, 243));
  backdrop-filter: blur(15px);
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(119, 25, 25);
  letter-spacing: 1px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  position: relative;
  margin-right: 30px;
  font-size: 1.2rem;
  font-weight: 800;
  font-family: cursive;
  text-decoration: none;
  color: rgb(37, 40, 46);
  transition: 0.3s;
}

.nav-links li a:hover {
  color: rgb(131, 17, 17);
  text-shadow: 0 0 10px rgb(155, 138, 139);
}

.btns {
  display: flex;
}

.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  border: rgb(87, 9, 9);
  font-weight: 900;
  font-family: cursive;
  font-size: 1rem;
  background: rgb(245, 238, 238);
  color: rgb(20, 4, 4);
  box-shadow: 0 0 15px rgb(17, 14, 14);
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: rgb(82, 5, 5);
  color: white;
  box-shadow: 0 0 25px rgb(173, 152, 152);
}

.img-design {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 225px;
  margin-top: 50px;
  width: 950px;
  height: 500px;
}

.About-design {
  color: #9b1f23;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-family: "Carter One", cursive;
  font-weight: 600;
  /* margin-left: 200px; */
  margin-top: 100px;
  margin-bottom: 30px;
}

.About-p-design {
  color: black;
  font-size: 23px;
  font-weight: 100;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-left: 250px;
  /* margin-top: 20px; */
  height: 200px;
  width: 900px;
}

footer {
  background-color: #8f0f0f;
  margin-top: 30px;
}
.footerContainer {
  width: 100%;
  padding: 30px 30px 20px;
}
.socialIcons {
  display: flex;
  justify-content: center;
}
.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i {
  font-size: 2em;
  color: rgb(139, 103, 103);
  opacity: 0, 9;
}
/* Hover affect on social media icon */
.socialIcons a:hover {
  background-color: #8f0f0f;
  transition: 0.5s;
}
.socialIcons a:hover i {
  color: white;
  transition: 0.5s;
}
.footerNav {
  margin: 30px 0;
}
.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}
.footerNav ul li a:hover {
  opacity: 1;
}
.footerBottom {
  background-color: #793030;
  padding: 20px;
  text-align: center;
}
.footerBottom p {
  color: white;
}

.p-footer-design {
  color: black;
  margin-left: 370px;
  margin-bottom: 50px;
  font-size: 15px;
  font-weight: 600;
}

.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
/* @media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
} */

.img-footer-design-div {
  display: flex;
}

.img-footer-design {
  margin-left: 200px;
  margin-top: 0px;
}

.img-footer-design2 {
  margin-left: 500px;
  height: 160px;
  width: 320px;
}

.img {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.map {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.para {
  padding-top: 60px;
  padding-left: 25px;
  padding-right: 25px;
  flex: 1;
}
.titre {
  color: white;
  font-size: 28px;
  text-align: center;
  font-family: "Carter One", cursive;
  margin: 0px;
  padding: 0px;
}

.sous-titre {
  margin: 0px;
  margin-top: 40px;
  font-size: 24px;
  color: white;
  text-align: left;
  font-family: "Alfa Slab One", cursive;
}

.icon-pos {
  align-items: center;
  margin-top: 30px;
  flex: 1;
}
.icon1 {
  width: 120px;
  height: auto;
  object-fit: fit;
}
.journey {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}
.cart,
.cart2 {
  align-items: center;
  background-color: #9b1f23;
  border: none;
  border-radius: 45px;
  width: 300px;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}
.cart2 {
  margin-top: 0px;
}
.Box {
  margin-left: 35px;
  margin-right: 35px;
  padding: 0px;
  flex: 1;
}
.Box2 {
  flex: 1;
  margin: 0px;
  padding: 0px;
}
.icon3 {
  padding: 0;
  margin: 0;
  width: 195px;
  height: auto;
  object-fit: fit;
  align-items: center;
  position: static;
  margin-left: 55px;
  display: block;
}

.icon2 {
  width: 120px;
  height: auto;
  object-fit: fit;
}

@media (max-width: 900px) {
  .journey {
    flex-direction: column;
    align-items: center;
  }

  h2 {
    font-size: 40px;
  }

  .cart,
  .cart2 {
    width: 85%;
  }
}

/* your question section */
body {
  font-family: "Carter One";
}
.qsts-container {
  max-width: 600px;
  margin: 20px auto;
  color: #333;
}

.qsts-container h2 {
  font-size: 2em;
  margin-bottom: 25px;
  color: #9b3030;
  font-weight: 500;
}

.qst-item {
  border-bottom: 2px dashed #ccc;
  padding: 10px 0;
  margin: 0;
}

.qst-question {
  list-style: none;
  list-style-type: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 1.1em;
  padding: 5px 0;
  font-weight: 400;
}
.qst-question span:first-child {
  padding-left: 20px;
  position: relative;
}

.qst-item summary::after {
  content: "V";
  font-weight: bold;
  color: black;
  margin-left: 10px;
  background-color: white;
  border-color: black;
  width: 20px;
  border-width: 5px;
}

.qst-item[open] summary::after {
  content: "^";
}
.qst-answer {
  padding: 10px 0 10px 25px;
  margin-top: -5px;
}
.qst-answer .note {
  color: #4caf50;
  font-style: italic;
  margin: 0;
}
/* end your question section */
