* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgb(230, 227, 227);
  color: white;
}

nav {
  width: 100%;
  padding: 1rem 5%;
  background: rgb(241, 237, 237);
  border-bottom: 1px solid
    rgb(rgb(248, 240, 240), rgb(235, 241, 235), rgb(234, 234, 243));
  backdrop-filter: blur(15px);
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(119, 25, 25);
  letter-spacing: 1px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  position: relative;
  margin-right: 30px;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  color: rgb(37, 40, 46);
  transition: 0.3s;
}

.nav-links li a:hover {
  color: rgb(131, 17, 17);
  text-shadow: 0 0 10px rgb(155, 138, 139);
}

.btns {
  display: flex;
}

.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  border: rgb(87, 9, 9);
  font-weight: 600;
  font-size: 1rem;
  background: rgb(245, 238, 238);
  color: rgb(20, 4, 4);
  box-shadow: 0 0 15px rgb(17, 14, 14);
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: rgb(82, 5, 5);
  color: white;
  box-shadow: 0 0 25px rgb(173, 152, 152);
}


.img-design{

  margin: 10px;
  padding: 40px;

}

