* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: white;
  color: white;
}

nav {
  width: 100%;
  padding: 1rem 5%;
  /* margin: 20px 0px 0px 20px; */
  background: rgb(255, 239, 239);
  border-bottom: 1px solid
    rgb(rgb(248, 240, 240), rgb(235, 241, 235), rgb(234, 234, 243));
  backdrop-filter: blur(15px);
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(119, 25, 25);
  letter-spacing: 1px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  position: relative;
  margin-right: 30px;
  font-size: 1.2rem;
  font-weight: 800;
  font-family: cursive;
  text-decoration: none;
  color: rgb(37, 40, 46);
  transition: 0.3s;
}

.nav-links li a:hover {
  color: rgb(131, 17, 17);
  text-shadow: 0 0 10px rgb(155, 138, 139);
}

.btns {
  display: flex;
}

.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  border: rgb(87, 9, 9);
  font-weight: 900;
  font-family: cursive;
  font-size: 1rem;
  background: rgb(245, 238, 238);
  color: rgb(20, 4, 4);
  box-shadow: 0 0 15px rgb(17, 14, 14);
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: rgb(82, 5, 5);
  color: white;
  box-shadow: 0 0 25px rgb(173, 152, 152);
}

.img-design {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 225px;
  margin-top: 50px;
  width: 950px;
  height: 500px;
}

.About-design {
  color: rgb(146, 51, 51);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-family: cursive;
  font-weight: 600;
  /* margin-left: 200px; */
  margin-top: 100px;
  margin-bottom: 30px;
}

.About-p-design {
  color: black;
  font-size: 19px;
  font-weight: 800;
  font-family: cursive;
  margin-left: 250px;
  margin-top: 30px;
  height: 200px;
  width: 900px;
}
