/* your question section */ 
body{
    font-family: "Carter One" ;
}
.qsts-container {
    max-width: 600px; 
    margin: 20px auto;
    color: #333;
}

.qsts-container h2 {
    font-size: 2em;
    margin-bottom: 25px;
    color: #9B3030;
    font-weight: 500;
}


.qst-item {
    border-bottom: 2px dashed #ccc; 
    padding: 10px 0;
    margin: 0;
}


.qst-question {
    list-style: none;
    list-style-type: none;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 1.1em;
    padding: 5px 0;
    font-weight: 400; 
}
.qst-question span:first-child {
    padding-left: 20px; 
    position: relative;
}

.qst-item summary::after {
    content: 'V'; 
    font-weight: bold;
    color: black;
    margin-left: 10px;
    background-color: white;
    border-color: black;
    width: 20px;
    border-width: 5px ;
}


.qst-item[open] summary::after {
    content: '^'; 
}
.qst-answer {
    padding: 10px 0 10px 25px; 
    margin-top: -5px; 
}
.qst-answer .note {
    color: #4CAF50; 
    font-style: italic;
    margin: 0;
}
/* end your question section */