h2{
  color: #9b1f23;
  font-family:"Carter One", cursive;
  font-size: 80px;
  text-align: center;

}

.img{
  margin-top: 20px ; 
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  display: grid; 
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr;
}
.map{
  width: 100%; 
  height: auto;
  object-fit: cover;
}
.para{
  padding-top: 60px;
  padding-left: 25px;
  padding-right: 25px;
  flex:1;
}
.titre{
  color: white;
  font-size: 28px; 
  text-align: center;
  font-family: "Carter One", cursive;
  margin:0px;
  padding: 0px;
}

.sous-titre{
  margin:0px;
  margin-top:40px;
  font-size: 24px;
  color: white ; 
  text-align:left;
  font-family: "Alfa Slab One", cursive;
  
}

.icon-pos{
  align-items:center;
  margin-top: 30px;
  flex:1;
  
}
.icon1{
  width: 120px;
  height: auto;
  object-fit:fit; 
  
 
}
.journey{
  margin-top:50px;
  display: flex; 
  flex-direction: row;

}
.cart,.cart2{
  align-items: center;
  background-color: #9b1f23;
  border: none ; 
  border-radius: 45px;
  width:  300px;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin-left:20px;
  margin-right:20px;
  
}
.cart2{
  margin-top:0px;
  
}
.Box{
  margin-left: 35px;
  margin-right: 35px;
  padding: 0px;
  flex:1;
}
.Box2{
  flex:1;
  margin:0px;
  padding: 0px;
}
.icon3{
  padding: 0;
  margin: 0;
  width: 195px;
  height: auto;
  object-fit:fit;
  align-items: center;
  position:static;
  margin-left: 55px;
  display: block;
  
 
}




.icon2{
  width: 120px;
  height: auto;
  object-fit:fit; 

  
 
}


@media(max-width: 900px) {
  
  .journey {
    flex-direction: column;
    align-items: center;
  }


  h2 {
    font-size: 40px;
  }

  .cart, .cart2 {
    width: 85%;
  }
}
